
    
h1{font-size: 40px; color: brown;
    display: flex;
    justify-content: center;
    


}

.boxy{
    width: 100%;
    background: grey;
    display: flex; 
    justify-content: space-between;
    flex-shrink: 1;

}

.small{

    width: 200px;
    height: 200px;
    background: red;
    margin: 30px;



  
}

